
<button pButton type="button" label="New User" (click)="create()" ></button>
<div class="p-col">
  <input type="text" pInputText [(ngModel)]="searchText" placeholder="search name">
</div>
<p-table [value]="filteredUsers">
  <ng-template pTemplate="header">
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <th>Cell</th>
          <th>User name</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
      <tr>
          <td>{{user.user.name.first}}</td>
          <td>{{user.user.email}}</td>
          <td>{{user.user.gender}}</td>
          <td>{{user.user.cell}}</td>
          <td>{{user.user.username}}</td>
      </tr>
  </ng-template>
</p-table>
